:root {
  --primary-color: #333333;
  --secondary-color: #4f4f4f;
  --product-name-color: #4e5150;
  --placeholder-color: #828282;
  --cart-bg-color: #f2f2f2;
  --qty-btn-color: #e0e0e0;
  --accent-color: #f2994a;
  --submit-btn-color: #ffffff;
  --footer-color: #bdbdbd;
  --icon-font: "Material Symbols Outlined";
  --primary-font: "Montserrat", sans-serif;
  --valid-color: green;
  --invalid-color: red;
}
body {
  color: var(--primary-color);
  font-family: var(--primary-font);
}

/* Number input increment buttons based on  https://stackoverflow.com/questions/63544101/customize-increment-arrows-on-input-of-type-number-using-css */
input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;

  appearance: textfield;
  background: var(--cart-bg-color);
  /* width: 39%; */
  font-size: 1.5rem;
  max-width: 3ch;
  text-align: center;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}
.number-input {
  border: 1px solid var(--placeholder-color);
  display: inline-flex;
}

.qty,
.qty * {
  box-sizing: border-box;
}
/* .qty {
  display: flex;
  justify-content: center;
  align-content: center;

} */

.qty-wrapper {
  border: 1px solid var(--placeholder-color);
  border-radius: 12px;
  display: flex;

  align-content: center;
  justify-content: center;
  padding: 0.25em;
  width: clamp(7.63rem, 11vw, 8.38rem);
}

.qty button {
  outline: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #eeeeee;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}
.info-input > input,
.info-input > select {
  border: none;
  background: rgb(256, 256, 256, 0);
  width: 100%;
  font-size: clamp(0.75rem, 2vw, 1rem);
  font-weight: 600;
}

info-input {
  align-content: center;
  justify-content: center;
  display: flex;
  margin-bottom: 1em;
}

.info-wrapper {
  display: flex;
  flex-direction: column;
}
.contact-info {
  display: flex;
  flex-direction: column;
  margin-top: -2rem;
}
.shipping-info {
  display: flex;
  flex-direction: column;

  margin-top: 2rem;
}

form {
  display: flex;
  gap: 6em;
  flex-wrap: wrap-reverse;
  align-content: center;
  justify-content: center;
}

.product-info {
  font-size: calc(0.666rem + 0.372vw);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.item {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: auto 1fr;
  gap: 1em;
}

.sale-price {
  color: var(--accent-color);
  font-weight: 600;
  /* font-size: 0.875rem; */
}
.cart {
  background: var(--cart-bg-color);
  border-radius: 12px;
}
.qty-wrapper > * {
  border: none;
}

.product-name {
  color: var(--product-name-color);
  font-weight: 600;
  /* font-size: 0.75rem; */
}
.regular-price {
  font-size: calc(0.582rem + 0.189vw);
  text-decoration-line: line-through;
  color: var(--product-name-color);
}
.subtotal-type {
  font-size: 1.125rem;
  font-weight: 600;
}
.subtotal-price {
  font-size: 0.875rem;
  font-weight: 600;
}
.subtotal {
  display: flex;
  justify-content: space-between;

  border-top: solid 1px rgba(189, 189, 189, 1);
  padding: 0.75em;
}

.product-img-wrapper > img {
  width: 100%;
  min-width: 90px;
  font-size: clamp(0.75rem, 2vw, 1rem);
  border-radius: 12px;
}

.product-img-wrapper {
  width: clamp(8.75rem, 12vw, 9.38rem);
}

.cart {
  display: grid;
  grid-template-columns: auto;

  gap: 1em;
  padding: 2em;
  grid-template-rows: auto auto 1fr;
  align-self: self-start;
}
.qty-wrapper > button {
  position: relative;

  font-size: 1.75em;
  line-height: 0.7em;
  align-self: center;
  color: var(--placeholder-color);
}
.price-wrapper {
  display: flex;
  gap: 0.5em;
}

/* .info-input::before {
  font-family: var(--icon-font);
} */

.info-input {
  border: 1px solid var(--placeholder-color);
  border-radius: 7px;
  display: flex;
  height: 3rem;
  margin-bottom: 1rem;
  /* align-content: center; */
  /* justify-content: center; */
}
.material-symbols-outlined.postal-code {
  margin-left: 0;
}

.info-input > span {
  margin: 0.5rem;
  line-height: inherit;
}
.country-postcode-wrapper {
  display: flex;
  gap: 1em;
  flex-flow: wrap;
}
.submit-wrapper {
  display: flex;
  justify-content: end;
}
.submit-wrapper > input {
  margin-top: 1em;
  background: var(--accent-color);
  border: var(--accent-color);
  border-radius: 12px;
  font-size: 1rem;
  padding: 1.25rem 3rem;
  color: var(--submit-btn-color);
  font-weight: 600;
}
.next-time-wrapper > label {
  vertical-align: middle;
}

.save-for-next-time {
  --checkbox-size: clamp(1rem, 2vw, 1.32rem);
  height: var(--checkbox-size);
  width: var(--checkbox-size);
  vertical-align: middle;
}
.cart-wrapper > h2 {
  content: "Checkout";
  font-size: 1.5rem;
}

.info-wrapper > h2 {
  display: none;
}
.subtotal-wrapper {
  margin-top: 5rem;
}

footer {
  font-size: 0.88em;
  color: var(--footer-color);
  font-weight: 500;
  display: flex;
  justify-content: center;
  margin-top: clamp(7.8rem, 7vh, 10rem);
}
.footer-content > a {
  font-weight: 700;
  color: var(--footer-color);
  text-decoration: none;
}

.shipping-info * input:invalid,
.contact-info * input:invalid {
  border: 2px dashed var(--invalid-color);
}
.shipping-info * input:valid,
.contact-info * input:valid {
  border: 2px solid var(--valid-color);
}
.shipping-info * input:valid + span::before,
.contact-info * input:valid + span::before {
  content: "check_circle";
  color: var(--valid-color);
  font-weight: 900;
}

.shipping-info * input:invalid + span::before,
.contact-info * input:invalid + span::before {
  content: "error";
  color: var(--invalid-color);
  font-weight: 900;
}

#countries {
  appearance: menulist;
  -moz-appearance: menulist;
  -webkit-appearance: menulist;
}
/* Media queries */
@media (min-width: 1122px) {
  .info-wrapper > h2 {
    display: flex;
    font-size: 2.25rem;
  }

  .cart-wrapper > h2 {
    display: none;
  }
  .cart-wrapper {
    margin-top: 6rem;
  }
  .contact-info {
    margin-top: 0;
  }
}
